<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Importo bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!-- Los template hijos de este podran sobreescribir los bloques, aca definimos el bloque titulo porque queremos que esto cambie segun que ruta estemos -->
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!-- Creo barra de navegacion con clases que me provee Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Este boton me permite que al clickearlo se despliegue el navbar cuando la pantalla es chica, hace que el navbar sea responsive (esto tambien me lo provee Bootstrap) -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Aca ira la barra de navegacion, con botones para ir a las diferentes rutas de nuestra pagina -->
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <!-- Si usuario esta autenticado mostramos Home y Logout, sino le mostramos Login y SignUp-->
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Aca recibiremos los mensajes que lleguen de flash (manera de mandar mensajes desde el backend) y los trataremos. Tomamos los mensajes de flash con la funcion get_flash_messages y queremos que tengan categoria asignada. Recorremos los mensajes (si es que hay) y si alguna categoria es error desplegaremos HTML-->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <!-- Mostramos el mensaje de error si la categoria es "error" -->
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      <!-- Mostramos el mensaje que recibio de flash (esta variable es la del for de arriba) -->
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <!-- Mostramos mensaje de exito si el mensaje NO es "error" -->
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}


    <!-- Contenedor de informacion -->
    <div class="container">{% block content %} {% endblock %}</div>
    <!-- Cargo jquery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Cargo el JavaScript que esta en la carpeta static. Esta carga la hago usando Jinja con una funcion que retorna la direccion de index.js que esta en la carpeta static-->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
